<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rhizome</title>
    <link rel="stylesheet" href="/static/assets/style.css?version=1">
</head>

<body>
<header>
    <form>
        <input type="search" id="value" name="value">
        <button type="submit" formmethod="get" formaction="/pages">Search</button>
        <button type="submit" formmethod="post" formaction="/pages">New</button>
    </form>
</header>
<main>
    <h1>Rhizome</h1>
    <p>
        Welcome to my personal knowledge base!
        You can use the search bar above to find pages.
        An empty query returns all pages.
        If nothing comes up, just create a new page.
    </p>

    {% if recently_edited.len() > 0 %}
    <p>Here is a list of recently edited pages:</p>
    <ul class="page-summaries">
        {% for page in recently_edited %}
        {% include "pages/page.html" %}
        {% endfor %}
    </ul>
    {% endif %}
</main>
</body>

</html>