<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Rhizome</title>
    <link rel="stylesheet" href="/static/assets/style.css?version=1">
</head>

<body>
<main>
    <h1>Login</h1>
    {{ error_message }}
    <form action="/login" method="post">
        <label>Username
            <input type="text" placeholder="Enter username" name="username">
        </label>
        <br>
        <label>Password
            <input type="password" placeholder="Enter password" name="password">
        </label>
        <br>
        {% match redirect %}
        {% when Some with (value) %}
        <input type="hidden" id="redirect" name="redirect" value="{{value}}">
        {% when None %}
        {% endmatch %}
        <button type="submit">Login</button>
    </form>
</main>
</body>

</html>